<mat-toolbar class="mat-elevation-z8 d-flex justify-content-between">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>


  <div>
    <a routerLink="home" class="logo-icon">

      <span class="links_name">Hospital App</span>
      <i class="fad fa-hospital-symbol"></i>
    </a>
  </div>
<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="perfil"  mat-menu-item>
      <mat-icon><i class="fal fa-user-circle"></i></mat-icon>
      <span>Mi Perfil</span>
    </a>
    <button mat-menu-item (click)="Logout()">
      <mat-icon><i class="fa fa-sign-out"></i></mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
                  
</div>

 

</mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <ul class="nav-list">
        <!--HOME-->
        <li>
          <a routerLink='home'>
            <i style="font-size: x-large;" class="fa-regular fa-hospital"></i>
            <span class="links_name">Home</span>
          </a>
        </li>

        <!--CITAS-->
        <li>

        <li>
          <a href="#appointment" data-bs-toggle="collapse">
            <i style="font-size: x-large;" class="fad fa-book-medical"></i>
            <span class="links_name">Citas</span>
          </a>
          
          <div class="collapse" id="appointment">
            <ul class="nav-second-level">
              <li>
                <a routerLink="/doctor/report">Crear informe</a>
              </li>
                  
              <li>
                <a routerLink="/doctor/citas">Citas para hoy</a>
              </li>
            </ul>
          </div>          
        </li>  

        <!--LABORATORIO-->
        <li>
          <a href="#doctor_side" data-bs-toggle="collapse">
            <i style="font-size: x-large;" class="fad fa-user-md"></i>
            <span class="links_name">Laboratorio</span>
          </a>
          
          <div class="collapse" id="doctor_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="/doctor/cita/crear">Agendar cita</a>
              </li>
                  
              <li>
                <a routerLink="/doctor/cita/orden">Crear Orden</a>
              </li>
            </ul>
          </div>          
        </li>   
        
        <!--PACIENTES-->
        <li>
          <a href="#cons_side" data-bs-toggle="collapse">
            <i style="font-size: x-large;" class="fad fa-solid fa-bed-pulse"></i>
            <span class="links_name">Pacientes</span>
          </a>

          <div class="collapse" id="cons_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="/doctor/pacientes">Listado de pacientes</a>
              </li>
    
              
              <li style="text-align: left;">
                <a routerLink="/doctor/pacientes/reportes">Pacientes con más informes</a>
              </li>
            </ul>
          </div>
        </li>                                                 
      </ul>          
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="content " style="border-radius: 25px;">
        <router-outlet>
  
        </router-outlet>  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>