<mat-toolbar class="mat-elevation-z8 d-flex justify-content-between">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>


  <div>
    <a routerLink="home" class="logo-icon">

      <span class="links_name">Hospital App</span>
      <i class="fad fa-hospital-symbol"></i>
    </a>
  </div>
<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="edit-profile"  mat-menu-item>
      <mat-icon><i class="fal fa-user-circle"></i></mat-icon>
      <span>Mi Perfil</span>
    </a>
    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" data-bs-backdrop="false" aria-controls="offcanvasRight" mat-menu-item>
      <mat-icon><i  class="fal fa-calendar-alt"></i></mat-icon>
      <span>Calendario</span>
    </button>
    <button mat-menu-item>
      <mat-icon><i class="fa fa-sign-out"></i></mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
                  
</div>

 

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >
    <ul class="nav-list">
      <li>
        <a href="#appointment_side" data-bs-toggle="collapse">
          <i class="fad fa-book-medical"></i>
          <span class="links_name">Citas</span>
        </a>

        <div class="collapse" id="appointment_side">
          <ul class="nav-second-level">
            <li>
              <a routerLink="appointment/create">Agendar cita</a>
            </li>


            <li>
              <a routerLink="services/upcoming/appointments">Proximas citas</a>
            </li>
            <li>
              <a routerLink="services/history/appointments" >Historial</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#test_side" data-bs-toggle="collapse">

          <i class="fad fa-vials"></i>
          <span class="links_name">Examenes</span>
        </a>

        <div class="collapse" id="test_side">
          <ul class="nav-second-level">
            <li>
              <a routerLink="test/create">Solicitar examen</a>
            </li>


            <li>
              <a routerLink="services/upcoming/tests">Proximos Examenes</a>
            </li>
            <li>
              <a routerLink="services/history/tests">Historial</a>
            </li>
          </ul>
        </div>
      </li>


      <li>
        <a routerLink="doctors">
          <i class="fad fa-user-md"></i>
          <span class="links_name">Doctores</span>
        </a>
      </li>
      <li>
        <a href="#services_side" data-bs-toggle="collapse">

          <i class="fad fa-stethoscope"></i>
          <span class="links_name">Servicios</span>
        </a>

        <div class="collapse" id="services_side">
          <ul class="nav-second-level">
            <li>
              <a routerLink="services/appointment">Tipo de Consultas</a>
            </li>


            <li>
              <a routerLink="services/test">Tipo de Examenes</a>
            </li>
            
          </ul>
        </div>
      </li>
      

    </ul>
    
   
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content " >
      <router-outlet>

      
      </router-outlet>
      

    </div>
    <div >
      <app-calendar-card></app-calendar-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>