<form [formGroup]="profileForm">
    <mat-card style="border-radius: 25px; padding: 5vh!important; min-width:40vw; ">
      <mat-card-header>
        <mat-card-title>Crear Especialidad</mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <div class="row">

          <div class="col-4">
            <div class="row">
                <div style="padding-left: 2vw;"><img class="rounded-circle"src="https://i.imgur.com/NnlWoO5.jpeg" width="90"></div>
            </div>

          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label><i class="fa-solid fa-barcode"></i> Código</mat-label>
                  <input formControlName="codigo" matInput placeholder="Código">
                </mat-form-field>
              </div>
      
              <div class="col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label><i class="fa-solid fa-stethoscope"></i> Nombre</mat-label>
                  <input formControlName="nombre" matInput placeholder="Nombre">
                </mat-form-field>
              </div>
            </div>
          </div>


        </div>
  
      </mat-card-content>
      <mat-card-actions>
        <button (click)="saveForm()" mat-raised-button color="primary" style="min-width: 5vw;">Crear</button>
      </mat-card-actions>
    </mat-card>
  </form>