.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 200px;
}

table {
  width: 100%;
}


:host {
    width: 100%;
   }
   .greeting-card{
    border-radius: 15px;
    height: 70%;
  }
  
  .greeting{
  padding: 1rem;
  align-self: center;
  }
  
  .class-tab{
    margin: 16px;
    margin-left: 32px;
  }