<form >
<div class="rounded bg-white mat-elevation-z8" style="border-radius: 25px;">
  <mat-card>
    <div class="row">
      <div class="col-md-6 border-right" [hidden]="hidepicture" >
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img src="assets/img/Appointment.png"
            width="300rem" ></div>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">

        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">

            <h1 class="text-right">Agendar Cita</h1>
          </div>
          <mat-card-content>
          <div class="row">
            <div class="col-md-12">

              <mat-form-field appearance="outline">
                <mat-label>Selecciona una fecha</mat-label>
                <input required matInput [matDatepicker]="picker" [(ngModel)]="cita_save.fecha" name="fecha" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Selecciona una hora</mat-label>
                <input  type="time"  [(ngModel)]="cita_save.hora" matInput min="09:00:00" max="18:00:00" placeholder="Hora de inicio" name="hora">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Especialidad</mat-label>
                <input type="text" placeholder="Seleccione una" aria-label="Especialidad" matInput value="{{cita_save.especialidad.nombre}}"
                  [formControl]="especialidadFilter"  [matAutocomplete]="autoEspecialidad">
                  <mat-autocomplete autoActiveFirstOption #autoEspecialidad="matAutocomplete">
                    <mat-option *ngFor="let option of filteredEspecialidades " (onSelectionChange)="updateIdEspecialidad(option.id)" [value]="option.nombre">
                      {{option.nombre}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Doctor</mat-label>
                <input type="text" placeholder="Seleccione uno" aria-label="Doctor" matInput matInput
                [formControl]="doctorFilter"  [matAutocomplete]="autoDoctor">
                <mat-autocomplete autoActiveFirstOption #autoDoctor="matAutocomplete">
                  <mat-option *ngFor="let option of filteredDoctores" (onSelectionChange)="updateIdDoctor(option.id)" [value]="option.nombre">
                    {{option.nombre}}
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>
            </div>

          </div>
        </mat-card-content>
        <mat-card-actions>
          <button  mat-raised-button color="primary" (click)="onAddCita()" style="min-width: 5vw;">Agendar</button>
          <button mat-raised-button color="primary" style="min-width: 5vw;" (click)="back()" >Cancelar</button>
        </mat-card-actions>
        </div>
      </div>

    </div>
  </mat-card>
</div>

</form>