<mat-toolbar class="mat-elevation-z8 d-flex justify-content-between">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>


  <div>
    <a routerLink="home" class="logo-icon">

      <span class="links_name">Hospital App</span>
      <i class="fad fa-hospital-symbol"></i>
    </a>
  </div>
<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="edit-profile"  mat-menu-item>
      <mat-icon><i class="fal fa-user-circle"></i></mat-icon>
      <span>Mi Perfil</span>
    </a>
    <button mat-menu-item>
      <mat-icon><i class="fa fa-sign-out"></i></mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
                  
</div>

 

</mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <ul class="nav-list">

        <li>
          <a routerLink="espe/create">
            <i class="fad fa-book-medical"></i>
            <span class="links_name">Especialidades</span>
          </a>
        </li>

        <li>
          <a href="#doctor_side" data-bs-toggle="collapse">
            <i class="fad fa-user-md"></i>
            <span class="links_name">Doctores</span>
          </a>
          
          <div class="collapse" id="doctor_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="doctor/create">Crear Doctor</a>
              </li>
    
              
              <li>
                <a routerLink="doctor/see">Lista de Doctores</a>
              </li>

              <li>
                <a href ="#doctor_side_2" data-bs-toggle="collapse">Reportes</a>


                <div class="collapse" id="doctor_side_2">
                  <ul class="nav-second-level">
                    <li>
                      <a routerLink="doctor/rep1">Mas ingresos</a>
                    </li>
                    <li>
                      <a routerLink="doctor/reportes">Mas reportes</a>
                    </li>
                    <!-- <li>
                      <a routerLink="">Mas citas</a>
                    </li> -->
                    <li>
                      <a routerLink="doctor/rep/lower-performance">Menos citas</a>
                    </li>
                  </ul>
                </div>



              </li>


            </ul>
          </div>
          
        </li>
        <li>
          <a href="#lab_side" data-bs-toggle="collapse">
            <i class="fad fa-vial"></i>
            <span class="links_name">Laboratorista</span>
          </a>

          <div class="collapse" id="lab_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="lab/create">Crear Laboratorista</a>
              </li>
    
              
              <li>
                <a routerLink="lab/see">Lista de Laboratorista</a>
              </li>
            </ul>
          </div>
  
        </li>
        
        <li>
          <a href="#cons_side" data-bs-toggle="collapse">
            <i class="fad fa-stethoscope"></i>
            <span class="links_name">Consultas</span>
          </a>

          <div class="collapse" id="cons_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="cons/create">Crear típo de consulta</a>
              </li>
    
              
              <li style="text-align: left;">
                <a routerLink="cons/list">Lista de típos de consultas</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#test_side" data-bs-toggle="collapse">
            <i class="fad fa-first-aid"></i>
            <span class="links_name">Exámenes</span>
          </a>
        
          <div class="collapse" id="test_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="test/create">Crear típo de exámen</a>
              </li>
              <li style="text-align: left;">
                <a routerLink="test/list">Lista de típos de exámen</a>
              </li>
              <li style="text-align: left;">
                <a routerLink="test/rep">Exámenes con mayor demanda</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#patient_side" data-bs-toggle="collapse">
            <i style="font-size: x-large;" class="fad fa-solid fa-bed-pulse"></i>
            <span class="links_name">Pacientes</span>
          </a>
          <div class="collapse" id="patient_side">
            <ul class="nav-second-level">
              <li style="text-align: left;">
                <a routerLink="patient/rep">Pacienes con mayor demanda</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="content mat-elevation-z8" style="border-radius: 25px;">
        <router-outlet>
  
        </router-outlet>
  
  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>