<div class="wrapper fadeInDown">
  <h2>Orden de examen</h2>
  <div id="formContent">
    <form>
      <div id="content">
      <label>Fecha</label>
      <input type="date" id="fecha" name="fecha" placeholder="fecha" style="margin-bottom:1vh;">
      <label>Paciente: </label>      
      <select type="select" id="paciente" name="paciente" placeholder="Paciente" style="margin-bottom:1vh;">
        <option value="Paciente1">Paciente1</option>
        <option value="Paciente2" selected>Paciente 2</option>
        <option value="Paciente3">Paciente 3</option>
      </select>
      <label>Examen</label>
      <select type="select" id="Examen" name="Examen" placeholder="Examen" style="margin-bottom:1vh;">
        <option value="Examen1">Examen 1</option>
        <option value="Examen2" selected>Examen 2</option>
        <option value="Examen3">Examen 3</option>
      </select>    
    </div>  
      <input type="submit" class="fadeIn fourth" value="Crear orden">
    </form>
  </div>
</div>