<div class="row">
  <div class="col-md-12">
    <mat-grid-list [cols]="breakpoint" rowHeight="10rem">
      <mat-grid-tile [colspan]="breakpoint" rowspan="2">
        <div class="d-flex justify-content-between greeting-card content mat-elevation-z8">
          <div class="greeting">
            <h1>Doctores</h1>
            <label style="color: #3B2965; padding: 5px; ">Filtros</label>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Doctor</mat-label>
                  <input type="text" placeholder="Escriba uno" aria-label="Doctor" matInput
                   >

                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field  appearance="outline" style="width: 100%;">
                  <mat-label>Fecha</mat-label>
                  <mat-date-range-input [formGroup]="filtroFecha" [rangePicker]="campaignOnePicker">
                    <input matStartDate placeholder="Start date" formControlName="start">
                    <input matEndDate placeholder="End date" formControlName="end">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field  appearance="outline">
                <mat-label>Especialidad</mat-label>
                <input type="text" placeholder="Escriba" aria-label="Especialidad" matInput 
                   >
 
              </mat-form-field>
            </div>
            </div>


            
          </div>
          <div class="col-4" style="align-self: center;" [hidden]="hidepicture">
            <img width="200rem" src="assets/img/Doctors.png">
          </div>
        </div>

      </mat-grid-tile>
      <mat-grid-tile *ngFor="let card of cards">
        <app-doctor-card [pacient]="true" [doctor]="card"></app-doctor-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>