

<div>
    <!-- <div class="col-xs-12 col-sm-4">
        <div class="icono a1">
        <a href="empresa.aspx">
        <img src="img/iconos/Empresa-iloveimg-cropped.png" alt="empresa"></a>
        </div>
        <h2>Empresa</h2>
        <p>Intelaf significa Inteligencia Artificial. La empresa se dedica a la venta de productos de tecnología y servicio tecnico a computadoras</p>
    </div> -->
</div>

<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->    
    <!-- Login Form -->
    <form>
      <select type="select" id="paciente"  name="paciente" placeholder="Paciente" style="margin-bottom:1vh;">
        <option value="value1">Value 1</option>
        <option value="value2" selected>Value 2</option>
        <option value="value3">Value 3</option>
      </select>      
      <textarea type="textarea" id="descripcion" class="fadeIn third" name="descripcion" placeholder="descripcion" style="margin-bottom:1vh;"> </textarea>      
      <input type="submit" class="fadeIn fourth" value="Guardar">      
    </form>
    </div>
</div>