<div class="wrapper fadeInDown">
  <h2>Informe Cita</h2>
  <div id="formContent">
    <form>
      <label>Paciente: </label>
      <select type="select" id="paciente" name="paciente" placeholder="Paciente" style="margin-bottom:1vh;">
        <option value="Paciente1">Paciente1</option>
        <option value="Paciente2" selected>Paciente 2</option>
        <option value="Paciente3">Paciente 3</option>
      </select>
      <label>Descripcion:</label>
      <textarea type="textarea" id="descripcion" class="fadeIn third" name="descripcion" placeholder="descripcion"
        style="margin-bottom:1vh;"> </textarea>
      <input type="submit" class="fadeIn fourth" value="Guardar">
    </form>
  </div>
</div>