<div class="rounded bg-white mat-elevation-z8">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5" *ngIf="usuario"><img class="rounded-circle mt-5"
                    src="/assets/img/icons/user.png" width="90"><span class="font-weight-bold font-style">{{usuario.nombre}}</span><span
                    class="text-black-50">{{usuario.email}}</span></div>
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <button mat-raised-button color="primary" (click)="back()" >Regresar</button>
          </div>
        </div>
        <div class="col-md-8" *ngIf="usuario">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    
                    <h1 class="text-right">Editar Perfil</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-user"></i> Nombre</mat-label>
                            <input matInput class="font-style" placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-id-card-alt"></i> DPI</mat-label>
                            <input class="font-style" matInput type="number" [(ngModel)]="usuario.dpi" name="dpi" placeholder="DPI">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-at"></i> Correo Electronico</mat-label>
                            <input matInput class="font-style" type="email" [(ngModel)]="usuario.email" name="email" placeholder="Correo Electronico">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-phone"></i> Telefono</mat-label>
                            <input matInput class="font-style" [(ngModel)]="usuario.telefono" name="telefono" type="tel" placeholder="Telefono">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline" style="width: 100%;">
                            <mat-label>Sexo</mat-label>
                            <select class="font-style" matNativeControl  [(ngModel)]="usuario.sexo">
                                <option value="0">Hombre</option>
                                <option value="1">Mujer</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline" style="width: 100%;">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input class="font-style" [(ngModel)]="usuario.fecha_nacimiento" name="fecha_nacimiento" [value]="usuario.fecha_nacimiento" matInput  type="date">
                           
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><mat-form-field class="input-style" style="width: 100%;" appearance="outline">
                        <mat-label><i class="fal fa-weight"></i> Peso Kg</mat-label>
                        <input class="font-style" matInput type="number" name="peso" [(ngModel)]="usuario.peso" placeholder="Peso">
                      </mat-form-field></div>
                    <div class="col-md-6"><mat-form-field class="input-style" appearance="outline"  style="width: 100%;">
                        <mat-label>Tipo Sangre</mat-label>
                        <select matNativeControl  class="font-style"  [(ngModel)]="usuario.tipo_sangre" name="tipo_sangre">
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                          </select>
                      </mat-form-field></div>
                </div>
                <button (click)="editPatient()" mat-raised-button color="primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>