<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dr. {{doctor.nombre}}</mat-card-title>
      <mat-card-subtitle *ngFor="let card of especialidades">
            {{card.especialidad.nombre}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <a *ngIf="pacient" mat-button [routerLink]="['/patient/appointment/create',0,doctor.id]" > Agendar Consulta </a>
      <a *ngIf="pacient" mat-button [routerLink]="['/patient/doctor/',doctor.id,'view-profile']" > Ver Perfil </a>
      <a *ngIf="admin" mat-button [routerLink]="['edit', id]"> Editar Informacion </a>
    </mat-card-actions>
  </mat-card>