<div class="bg-white mat-elevation-z8" style="border-radius: 25px; min-width: 35vw;">

  <div class="row">
      <div class="col-md-4 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                  src="https://i.imgur.com/0eg0aG0.jpg" width="90"><span class="font-weight-bold font-style">Nombre del
                  Doctor</span><span class="text-black-50">correo</span></div>
      </div>
      <mat-tab-group class="col-md-8">
          <mat-tab label="Perfil">
              <div class="contenido">
                  <div class="p-3 py-5">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h1 class="text-right">Codigo Doctor: {{doctor.codigo}}</h1>
                      </div>

                        <form [formGroup]="profileForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="input-style" appearance="outline">
                                        <mat-label><i class="fal fa-user"></i> Nombre</mat-label>
                                        <input matInput class="font-style" placeholder="Nombre" value="{{doctor.nombre}}" formControlName="nombre" id="nombre">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="input-style" appearance="outline">
                                        <mat-label><i class="fal fa-id-card-alt"></i> DPI</mat-label>
                                        <input matInput class="font-style" type="number" placeholder="DPI" value="{{doctor.dpi}}" formControlName="dpi" id="dpi">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <mat-form-field class="input-style" appearance="outline">
                                        <mat-label><i class="fal fa-at"></i> Correo Electronico</mat-label>
                                        <input matInput class="font-style" type="email" placeholder="Correo Electronico"  value="{{doctor.email}}" formControlName="email" id="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="input-style" appearance="outline">
                                        <mat-label><i class="fal fa-phone"></i> Telefono</mat-label>
                                        <input matInput class="font-style" type="tel" placeholder="Telefono" value="{{doctor.telefono}}" formControlName="telefono" id="telefono">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <mat-form-field class="input-style" appearance="outline">
                                        <mat-label><i class="fal fa-id-card-alt"></i> Colegiado</mat-label>
                                        <input matInput class="font-style" type="number" placeholder="Colegiado" value="{{doctor.colegiado}}" formControlName="colegiado" id="colegiado">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="input-style" appearance="outline" style="width: 100%;">
                                        <mat-label>Fecha de Inicio</mat-label>
                                        <input class="font-style" type="date" matInput [matDatepicker]="picker"  [formControl]="date1" formControlName="fecha" id="fecha">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width" class="input-style" appearance="outline">
                                        <mat-label>Hora de Inicio</mat-label>
                                        <input class="font-style" type="time" matInput min="09:00" max="18:00" value="{{horaInicio}}" formControlName="horaInicio" id="horaInicio"
                                            placeholder="Hora de fin">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width" class="input-style" appearance="outline">
                                        <mat-label>Hora de Fin</mat-label>
                                        <input class="font-style"  type="time" matInput min="09:00" max="18:00" value="{{horaFin}}" formControlName="horaFin" id="horaFin"
                                            placeholder="Hora de fin">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button (click)="saveForm()" mat-raised-button color="primary" >Editar</button>
                        </form>    
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Especialidades" >
              <div class="contenido" style="padding: 2rem;">
                <form [formGroup]="especialidad_doctor">
                        <div class="row">
                            <div class="col-sm-9">
                                <mat-form-field class="input-style" appearance="outline">
                                <mat-label>Especialidad</mat-label>
                                <mat-select formControlName="id_especialidad">
                                    <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
                                    {{especialidad.nombre}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3" >
                                <button mat-raised-button color="primary" style="height: 5.5vh;" (click)="saveEspecialidad()" >Add</button>
                            </div>
                        </div>
                </form>
                  <hr>
                  <div class="example-container " >
                      <table mat-table [dataSource]="doctorespecialidad" matSort 
                          >

                          <!-- Position Column -->
                          <ng-container matColumnDef="position">
                              <th mat-header-cell *matHeaderCellDef
                                 >
                                  No.
                              </th>
                              <td mat-cell *matCellDef="let doctorespecialidad"> {{doctorespecialidad.especialidad.codigo}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef >
                                  Name
                              </th>
                              <td mat-cell *matCellDef="let doctorespecialidad"> {{doctorespecialidad.especialidad.nombre}} </td>
                          </ng-container>
                          <ng-container matColumnDef="editar" >
                            <th mat-header-cell *matHeaderCellDef  style="text-align: center;">
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let doctorespecialidad" style="text-align: center;">  <button (click)="deleteespecialidad(doctorespecialidad.id)" class="action-icon" title="Eliminar Especialidad"><i class="fa-solid fa-trash"></i></button> </td>
                        </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                  </div>
              </div>
          </mat-tab>
      </mat-tab-group>
  </div>
</div>