<mat-toolbar class="mat-elevation-z8 d-flex justify-content-between">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>


  <div>
    <a routerLink="home" class="logo-icon">

      <span class="links_name">Hospital App</span>
      <i class="fad fa-hospital-symbol"></i>
    </a>
  </div>
<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="edit-profile"  mat-menu-item>
      <mat-icon><i class="fal fa-user-circle"></i></mat-icon>
      <span>Mi Perfil</span>
    </a>
    <button mat-menu-item>
      <mat-icon><i class="fa fa-sign-out"></i></mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
                  
</div>

 

</mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <ul class="nav-list">

        <li>
          <a routerLink="/lab">
            <i class="fa-regular fa-hospital" style="font-size: 2.8vh;"></i>
            <span class="links_name">Home</span>
          </a>
        </li>

        <li>
          <a routerLink="/lab/test">
            <i class="fad fa-vials"></i>
            <span class="links_name">Resultados</span>
          </a>
        </li>                        
        
        <li>
          <a href="#doctor_side" data-bs-toggle="collapse">
            <i style="font-size: x-large;" class="fad fa-book-medical"></i>
            <span class="links_name">Reportes</span>
          </a>
          
          <div class="collapse" id="doctor_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="/lab/viewTest">Examenes a realizar</a>
              </li>
              <li>
                <a routerLink="/lab/testmade">Examenes realizados</a>
              </li>                  
              <li>
                <a routerLink="/lab/dayMoretest">Dias con más examenes</a>
              </li>              
            </ul>
          </div>       
      </ul>     

    </mat-sidenav>
    <mat-sidenav-content >
      <div class="content" style="border-radius: 25px;">
        <router-outlet>
  
        </router-outlet>
  
  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>