<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
  
  
    <div>
      <a class="logo-icon">
        
        <span class="links_name">Hospital App</span>
        <i class="fad fa-hospital-symbol"></i>
      </a>
    </div>
  
  
  
  
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <ul class="nav-list">

        <li>
          <a routerLink="/lab">
            <i class="fa-regular fa-hospital"></i>
            <span class="links_name">Home</span>
          </a>
        </li>

        <li>
          <a routerLink="/lab/test">
            <i class="fad fa-vials"></i>
            <span class="links_name">Resultados</span>
          </a>
        </li>                        
        
        <li>
          <a href="#doctor_side" data-bs-toggle="collapse">
            <i style="font-size: x-large;" class="fad fa-book-medical"></i>
            <span class="links_name">Reportes</span>
          </a>
          
          <div class="collapse" id="doctor_side">
            <ul class="nav-second-level">
              <li>
                <a routerLink="/lab/testmade">Examenes realizados</a>
              </li>                  
              <li>
                <a routerLink="/lab/dayMoretest">Dias con más examenes</a>
              </li>
            </ul>
          </div>


       
      </ul>
      <mat-divider></mat-divider>
      <ul class="nav-list">
        <li>
          <a href="#">
            <i style="font-size: x-large;" class="fad fa-bell"></i>
            <span class="links_name">Notificaciones</span>
          </a>
  
        </li>
        <li>
          <a href="#">
            <i style="font-size: x-large;" class="fad fa-cog"></i>
            <span class="links_name">Configuracion</span>
          </a>
        </li>
        </ul>
        <mat-divider></mat-divider>
        <ul>
        <li>
          <a href="#">
            <span class="links_name">Cerrar Sesion</span>
            <i class="fad fa-sign-out"></i>
          </a>
  
        </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="content mat-elevation-z8" style="border-radius: 25px;">
        <router-outlet>
  
        </router-outlet>
  
  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>