.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }



  :host {
    width: 100%;
   }
   .greeting-card{
    border-radius: 15px;
  }
  
  .greeting{
  padding: 1rem;
  align-self: center;
  }

  h1{
    color: black;
  }