<div class="rounded bg-white">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    src="https://i.imgur.com/0eg0aG0.jpg" width="90"><span class="font-weight-bold">Nombre del Doctor</span><span
                    class="text-black-50">correo</span></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    
                    <h1 class="text-right">Ver Perfil</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-user"></i> Nombre</mat-label>
                            <input matInput readonly placeholder="Nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-id-card-alt"></i> DPI</mat-label>
                            <input matInput readonly type="number" placeholder="DPI">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-at"></i> Correo Electronico</mat-label>
                            <input matInput readonly type="email" placeholder="Correo Electronico">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-phone"></i> Telefono</mat-label>
                            <input matInput readonly type="tel" placeholder="Telefono">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline">
                            <mat-label><i class="fal fa-id-card-alt"></i> Colegiado</mat-label>
                            <input matInput readonly type="number" placeholder="Colegiado">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="input-style" appearance="outline" style="width: 100%;">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input readonly matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><mat-form-field class="full-width" appearance="outline">
                        <mat-label>Hora de Inicio</mat-label>
                        <input  readonly type="time" matInput min="09:00" max="18:00" placeholder="Hora de fin">
                      </mat-form-field></div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Hora de Fin</mat-label>
                            <input readonly type="time" matInput min="09:00" max="18:00" placeholder="Hora de fin">
                          </mat-form-field></div>
                </div>
                <button mat-raised-button color="primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>