<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first" style="font-size: 12vh; margin-bottom: 1vh; margin-top: 1vh;">
        <i class="fa-solid fa-circle-user"></i>
      </div>
  
      <!-- Login Form -->
      <form>
          <input type="text" id="name" name="login" placeholder="Nombre" style="margin-bottom:1vh;">
          <input type="text" id="lastname" name="login" placeholder="Apellido" style="margin-bottom:1vh;">
          <input type="text" id="login" name="login" placeholder="Correo" style="margin-bottom:1vh;">
          <input type="text" id="password" name="login" placeholder="Contraseña" style="margin-bottom:1vh;">
          <input type="submit" value="Registrar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="login">Regresar al login</a>
      </div>
  
    </div>
  </div>