<form [formGroup]="profileForm">
  <mat-card style="border-radius: 25px; padding: 5vh!important; min-width:40vw; ">
    <mat-card-header>
      <mat-card-title>Orden examen</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Fecha</mat-label>
          <input type = "file">
        </mat-form-field>
      </div>
                                               

    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary" style="min-width: 5vw;">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>